{% extends "blog/base.html" %}

{% load static %}
{% block title %}
  I am the index page.
{% endblock title %}

{% block content %}

{{ request.session.counter }}

{% for post in posts %}
  <div id="posts-container">
    <div class="post-meta">
			<div class="post-date">{{ post.created_at|date:"N d Y" }}</div>
		</div>
  </div>
  <div class="sidebar col-md-3">
		<div class="widget clearfix widget-tags">
	    <h4 class="widget-title">Tags</h4>
	    <div class="tags">
	    	{% for tag in tags %}
	        <a href="#">{{ tag }}</a>
	      {% endfor %}
	    </div>
	  </div>
	</div>
{% endfor %}

{% endblock content %}
